<%- include('../partials/header') %>
    <h1 class="text-center mt-5 mb-5">New Ticket for <%=flight.airline%>
            <%= flight.flightNo %>
    </h1>
    <div class="container">
        <form method="POST" action="/flights/<%= flight._id %>/tickets">
            <div class="mb-3">
                <label for="seat" class="form-label">Seat</label>
                <input name="seat" type="text" class="form-control" id="seat" placeholder="A1-F99 ">

                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" class="form-control" id="price" name="price">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <%- include('../partials/footer') %>