<%- include('../partials/header') %>
    <div class="container">
        <h1 class="text-center mt-5">All Flight Departures</h1>
        <% flights.forEach(function(flight) { %>
            <div class="card mx-auto mt-5 d-block" style="width: 50vmin;">
                <div class="card-header text-center fw-bold">
                    <%= flight.airline %> Airlines
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Airport: <em>
                            <%= flight.airport %>
                        </em>
                    </li>
                    <li class="list-group-item">
                        Flight Number: <em>
                            <%= flight.flightNo %>
                        </em>
                    </li>
                    <li class="list-group-item">
                        Departure Info: <em>
                            <%= flight.departs.toLocaleString() %>
                        </em>
                    </li>
                    <li class="list-group-item">
                        <a class="btn btn-primary d-flex align-items-center justify-content-center"
                            href="/flights/<%= flight._id %>">View Details</a>
                    </li>
                </ul>
            </div>
            <%})%>
    </div>
    <%- include('../partials/footer') %>