<%- include('../partials/header') %>
    <div class="container">
        <h2 class="text-center pt-5">Departure Info</h2>
        <div class="d-flex justify-content-center align-items-center mt-5">
            <div class="card" style="width: 60vmin;">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= flight.airline %> Airlines
                    </h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                        <%= flight.flightNo %>
                            <hr>
                    </h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Departs From: <%= flight.airport%>
                        </li>
                        <li class="list-group-item">Time: <%= flight.departs.toLocaleString()%>
                        </li>
                        <li class="list-group-item">Departs From: <%= flight.airport%>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <%if(flight.destinations.length) {%>
            <hr>
            <h2 class="text-center">Destinations</h2>
            <%flight.destinations.forEach(function(d) {%>
                <div class="d-flex justify-content-center align-items-center mt-5 mb-5">
                    <div class="card" style="width: 60vmin;">
                        <div class="card-body">
                            <h5 class="card-title">
                                Arrival Airport: <%= d.airport %>
                            </h5>
                            <hr>
                            <h6 class="mb-2">
                                Arrival Time <%= d.arrival.toLocaleString() %>
                        </div>
                    </div>
                </div>
                <%})%>
                    <% } else {%>
                        <h6 class="text-center my-5">No Destinations Yet</h6>
                        <% }%>
                            <hr>
                            <h2 class="text-center mt-5">Add New Destination</h2>

                            <form action="/flights/<%= flight._id %>/destinations" method="POST">
                                <div class="mb-3">
                                    <label for="airport" class="form-label">Arrival Airport</label>
                                    <select name="airport" class="form-select" id="airport">
                                        <option selected>Select an airport</option>
                                        <option value="AUS">AUS</option>
                                        <option value="DFW">DFW</option>
                                        <option value="DEN">DEN</option>
                                        <option value="LAX">LAX</option>
                                        <option value="SAN">SAN</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="arrival">Arrival Time</label>
                                    <input class="form-control" type="datetime-local" name="arrival" id="arrival">
                                    <button class="btn btn-success mt-3 mb-5">Add</button>
                                </div>
                            </form>
    </div>


    <%- include('../partials/footer') %>